body {
    background-image: url('../imagens/fundo.png');
    text-align: center;
    font-size: 16px;
}
#menu {
    background: #c5c5b2;
    padding: 15px;
    width: 875px;
    margin: auto;
    /*
    margin: auto;
    width: 900px;
    height: 75px;
    background-color: #d2d2c0;
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;*/
}
.item-menu {    
    font-weight: bold;
    text-decoration: none;        
    color: #4B566A;
    padding: 5px;

}
.conteudo {
    background-color: #e8e8d9;
    width: 885px;
    margin: auto;
    padding: 10px;
    text-align: left;
}
footer {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
h1 {
    color: #828271;
    font-size: 1.2em;
    text-align: left;
}
.img-campanha {
    border: 10px solid #c3c3ae;

}